<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        Recipe Name:
        <input type="text" name="recipeName" class="form-control" id="searchInputReceipt">
        Ready In Minutes:
        <input type="text" name="readyInMinutes" class="form-control" id="searchInputReceipt">
        Servings:
        <input type="text" name="servings" class="form-control" id="searchInputReceipt">
        Ingredients:
        <textarea name="ingredients" id="searchInputReceipt" cols="30" rows="10" class="form-control"></textarea>
        Instructions:
        <textarea name="instructions" id="searchInputReceipt" cols="30" rows="10" class="form-control"></textarea>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</body>
</html>